h1{
    text-align: center;
}

.adDel{
    border: 2px solid #ffa500;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    /* padding-left: -20%;
    padding-right: -20%; */
    padding: 0;
    width: 80%;
    height: 10%;
    padding-top: -30%;
    text-align: center;
    font-size: 11px;
}

th{
    border: 2px solid #ffa500;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    /* padding-left: -20%;
    padding-right: -20%; */
    font-size: 11px;
    background-color: #fcca46;
}

td{
    border: 2px solid #ffa500;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    /* padding-left: -20%;
    padding-right: -20%; */
    /* font-size: 11px; */
}

#pickUpLoc{
    width: -40%;
}