<h3>You have a total of 3 deliveries today</h3>
<div class="1div">
    <label>No.:</label><p>1</p>
    <br>
    <label>Order No.:</label><p>{{cOrderNo}}</p>
    <label>Customer Name:</label><p>{{cName}}</p>
    
</div>